{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я автор</h1>
<p>
  Вот ссылка на 
  <a href="https://github.com/SimoneVita">
    мой GitHub
  </a>
</p>
<p>
  Вот ссылка на стихотворение о 
  <a href="http://127.0.0.1:8000/posts/38/">
    Практикуме и Питоне
  </a>
   =)
</p>
<p>
  Я попытался сделать небольшое приложение - словарик сам.<br>
  Конечно, его трудно назвать приложением, оно не имеет фронтэнда от слова совсем, <br>
  но основной функционал оно выполняет. Я разместил его в Слаке 
  <a href="https://practicum-students.slack.com/archives/C042SL67EKF/p1668469226781309?thread_ts=1668469100.328049&cid=C042SL67EKF">
    по ссылке (1 коммент в треде).
  </a>
  <br>Похвастаться некому, хоть здесь размещу :)  
</p>
</p>
  Я категорически извиняюсь, но я с горем пополам пытаюсь нагнать когорту... <br> Сил и невов не хватает, поэтому вот вам мой пЁсель!
</p>
<img src="{% static 'img/IMG_6995.jpg' %}" width="600" height="591">
<p>
  <br>
  А, и чуть не забыл! <br>
  И мое рабочее место:
</p>
<img src="{% static 'img/IMG_6800.jpg' %}" width="600" height="450">
<h1><br>Спасибо за внимание и еще раз извините!</h1>
{% endblock %}