{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>Все посты пользователя {{ author }}</h1>
        <h3>Всего постов: {{ posts_num }} </h3>
        {% if user.is_authenticated %}
          {% if user != author %}
            {% if following %}
              <a
                class="btn btn-lg btn-light"
                href="{% url 'posts:profile_unfollow' author.username %}" role="button"
              >
                Отписаться
              </a>
            {% else %}
              <a
                class="btn btn-lg btn-primary"
                href="{% url 'posts:profile_follow' author.username %}" role="button"
              >
                Подписаться
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
        {% for post in page_obj %}
          <ul>
            <li> 
              Автор: {{ post.author.get_full_name }}
              <a href="{% url 'posts:profile' post.author %}">все посты пользователя </a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text|linebreaks }}</p> 
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
          <br>
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
          {% endif %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
{% endblock %}